.icon {
  padding: 5px;
}

/*--------product card item ---------------------------------------*/
.card {
  height: 500px;
}
.card-body {
  align-items: end;
}

/*--------pagination------------------*/
.pagination {
  justify-content: center;
  background-color: #eeeeee;
}

.page-link {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #eeeeee;
}

.page-link:hover {
  background-color: white;
}

.page-number {
  background-color: azure;
  width: 30px;
  height: 30px;
  background-color: #fb8e18;
  color: black;
  border-radius: 20%;
}

.fixed-container {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden; /* Ngăn chặn cuộn ngang */
  overflow-y: auto; /* Cho phép cuộn dọc nếu nội dung quá dài */
  align-items: center;
  justify-content: center;
}

.fixed-container {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden; /* Ngăn chặn cuộn ngang */
  overflow-y: auto; /* Cho phép cuộn dọc nếu nội dung quá dài */
  align-items: center;
  justify-content: center;
}

h4 {
  line-height: 26px;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

h6 {
  line-height: 20px;
  font-size: 16px;
}
.input_search {
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e6eaf3;
  outline: none;
  height: 40px;
  font-size: 15px;
  box-shadow: none;
  width: 100%;
  background: transparent;
}

.cart-priceTotal {
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px dashed #c9d2e0;
  border-bottom: 1px dashed #c9d2e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-priceTotal h6 {
  margin: 0;
  display: block;
  width: 100%;
  margin-top: 12px;
}

.cart-priceTotal h6 span {
  float: right;
  font-size: 22px;
}

.shipping-cart {
  width: 100%;
}

.cartTotal {
  color: #ea8025;
}

.cart_select_items {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  position: relative;
}

.cart_item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  width: 100%;
}

.cart_item_thumb {
  width: 80px;
  height: 80px;
}

.cart_item_caption {
  padding-left: 15px;
}

.cart_item_caption .number_of_item {
  font-size: 14px;
  display: block;
}

a {
  text-decoration: none;
}

.text-danger {
  color: #f33066 !important;
}

.cart_item_remove {
  display: block;
  background: #ffc7d7;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}

.cart_action {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.btn-checkout {
  background: #e87800;
  width: 100%;
  border-radius: 4px;
  height: 50px;
  font-weight: 600;
  border: 2px solid transparent;
  color: #ffffff;
}
